/* hHandige instellingen om fouten te zoeken */

* {
  /* lijntjes om alle boxen */
  border: 1px dotted gray;
}
ul {
  border: 1px solid yellow;
}


/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(0, 0, 0);  
    
    color: #d8d8d8;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
    font-family:sans-serif
}


article {
    text-align: justify;
}


header {
    color: rgb(184, 34, 189);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.rij{

}

.kolomlinks{
  float:left;
  width:30%;
}
.kolommidden{
  float:left;
  width:30%
}
.kolomrechts{
  float:left;
  width:30%;
}

p {
  text-align:center;
}
img {
  margin:auto;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color:rgb(184, 34, 189)
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
    width: fit-content;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgb(184, 34, 189)
}






